<div class="wrapper">
  <ng-container *ngFor="let createAnswer of createAnswers">
    <div class="containerCreateAnswer">
      <h5>{{ createAnswer.title }}</h5>
      <p>{{ createAnswer.articleContent }}</p>
      <ckeditor
        [(ngModel)]="createAnswer.data"
        [config]="editorConfig"
        [editor]="Editor"></ckeditor>
    </div>
  </ng-container>
  <div class="action">
    <button mat-stroked-button color="primary" matStepperPrevious>Volver atrás</button>
    <button mat-flat-button color="primary" (click)="obtenerValores()" matStepperNext>
      Continuar
    </button>
  </div>
</div>
