<div class="multiselect">
  <mat-form-field appearance="outline">
    <mat-label>Preguntas Relacionadas</mat-label>
    <input [formControl]="multiselect" type="text" matInput />
    <mat-hint *ngIf="!open"> Otras preguntas vinculadas la pregunta creada.</mat-hint>
  </mat-form-field>
  <ng-container *ngIf="questions$ | async as questions">
    <div #menu *ngIf="open" [ngClass]="{ openMenu: open }" class="menu">
      <div *ngFor="let question of questions">
        <mat-checkbox
          (change)="updateSelectedQuestions(question, $event)"
          matInput
          [value]="currentInputValue"
          color="accent"
          >{{ question.name }}</mat-checkbox
        >
      </div>
    </div>
  </ng-container>
  <div *ngFor="let item of selectedQuestions">
    <p>{{ item }}</p>
  </div>
</div>
