<form class="container" [formGroup]="form">
  <div class="dateFrom">
    <p>Fecha y hora de publicación</p>
    <div [ngClass]="{ overlay: postNow }">
      <mat-form-field appearance="outline">
        <mat-label>Fecha</mat-label>
        <input
          matInput
          [min]="minDateFrom"
          [matDatepicker]="pickerFrom"
          formControlName="dateFrom"
          (dateChange)="onDateFromChange($event)" />
        <mat-hint>DD/MM/AAAA</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="pickerFrom"></mat-datepicker-toggle>
        <mat-datepicker #pickerFrom></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label> Hora </mat-label>
        <input formControlName="hourFrom" id="period" type="time" matInput />
        <mat-icon matSuffix color="primary">schedule</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <div class="dateTo">
    <p>Fecha y hora de vencimiento</p>
    <div [ngClass]="{ overlay: isCheckboxChecked }">
      <mat-form-field appearance="outline">
        <mat-label>Fecha</mat-label>
        <input
          matInput
          [min]="dateFrom"
          [matDatepicker]="pickerTo"
          formControlName="dateTo"
          (dateChange)="onDateToChange($event)" />
        <mat-hint>DD/MM/AAAA</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="pickerTo"></mat-datepicker-toggle>
        <mat-datepicker #pickerTo></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label> Hora </mat-label>
        <input formControlName="hourTo" id="period" type="time" matInput />
        <mat-icon matSuffix color="primary">schedule</mat-icon>
      </mat-form-field>
    </div>

    <mat-checkbox (change)="onCheckboxChange($event)" formControlName="caducity">
      Sin vencimiento</mat-checkbox
    >
  </div>
</form>
