<div class="wrapper">
  <div class="action">
    <h1>Sinónimos de Negocio</h1>
    <button mat-flat-button color="primary" [routerLink]="['/dashboard/sinonimos/crear-sinonimo']">
      <mat-icon>add</mat-icon>
      Crear nuevo
    </button>
  </div>
  <p>
    Los sinónimos de negocio facilitan hallar palabras específicas al momento de utilizar el
    buscador.
  </p>
  <ng-container *ngIf="synonyms$ | async as synonyms">
    <bdc-bo-tabla-synonyms
      (pageChanged)="handlePageChanged($event)"
      [synonyms]="synonyms"></bdc-bo-tabla-synonyms>
  </ng-container>
</div>
