
.wrapper {
  padding-top: 20px;
  .action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  p {
    color: #344b64;
    font-size: 12px;
  }
  table {
    position: relative;
    .text-blue {
      color: #0062a1;
      font-size: 16px;
      .overlay {
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
      }
    }
  }
}

::ng-deep {
  .mdc-evolution-chip-set__chips {
    flex-wrap: nowrap !important;
  }
}
