.wrapper {
  margin-top: 100px;
  .filter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    bdc-bo-searcher {
      width: 552px;
    }
    mat-form-field {
      margin-left: 24px;
    }
  }
}
