<div class="wrapper">
  <h1>Metrica</h1>
  <div class="filter">
    <bdc-bo-searcher
      label="Buscar metricas por pregunta"
      placeholder="¿Cómo comprar un equipo?"></bdc-bo-searcher>
    <mat-form-field appearance="outline">
      <mat-label>Filtrar por</mat-label>
      <mat-select>
        <ng-container *ngFor="let item of filterTime">
          <mat-option value="{{ item.value }}">{{ item.key }}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>
</div>
