<div class="wrapper">
  <h1>Revisá que esté todo bien</h1>
  <ng-container *ngIf="preview">
    <div class="preview-question">
      <h2 class="preview-question__title">{{ preview.question }}</h2>
      <div class="preview-question__category">
        <span>{{ preview.category }}</span>
        <ng-container *ngIf="preview.subcategory">
          <span class="material-symbols-outlined">chevron_right</span>
          <span>{{ preview.subcategory }}</span>
        </ng-container>
      </div>
      <div class="preview-question__date">
        <span class="material-symbols-outlined">today</span>
        <span>{{ preview.dateFrom | date: 'dd/MM/yy' }}</span>
        -
        <span>{{ preview.dateTo | date: 'dd/MM/yy' }}</span>
      </div>
      <div class="preview-question__date">
        <span class="material-symbols-outlined">schedule</span>
        <span>{{ preview.hourFrom }}</span>
        -
        <span>{{ preview.hourTo }}</span>
      </div>
      <hr />
      <div class="preview-question__response-data">
        <h5>Respuesta larga</h5>
        <div [innerHTML]="preview.resLong"></div>
      </div>
      <div class="preview-question__response-data">
        <h5>Respuesta corta</h5>
        <div [innerHTML]="preview.resShort"></div>
      </div>
      <div class="preview-question__response-data">
        <h5>Respuesta IA</h5>
        <p>{{ preview.resIA }}</p>
      </div>
      <div class="preview-question__response-data">
        <h5>Alias</h5>
        <ng-container *ngFor="let item of preview.alias">
          <p>{{ item }}</p>
        </ng-container>
      </div>
      <div class="preview-question__response-data">
        <h5>Preguntas Relacionadas</h5>
        <div class="preview-question__response-data--related-questions">
          <ng-container *ngFor="let item of preview.associatedQuestions">
            <span>{{ item }}</span>
          </ng-container>
        </div>
      </div>
      <hr />
      <div class="action">
        <button mat-stroked-button color="primary">Volver atrás</button>
        <button mat-flat-button color="primary">Publicar</button>
      </div>
    </div>
  </ng-container>
</div>
