<ng-container *ngLet="isLogginIn$ | async as isLogginIn">
  <div class="container">
    <form [formGroup]="form" class="form">
      <img src="../../../assets/img/logo.png" alt="logo-base-de-conocimiento" />
      <p>Iniciar sesión</p>
      <mat-form-field appearance="outline">
        <mat-label>Correo electrónico</mat-label>
        <input
          matInput
          formControlName="username"
          name="email"
          type="email"
          placeholder="attenbase@attenbase.com" />
        <mat-error *ngIf="form.controls['username'].errors?.['required']">
          Ingresá un correo electrónico válido. Ej.: attenbase@attenbase.com
        </mat-error>
        <mat-error *ngIf="form.controls['username'].errors?.['email']">
          El correo no coincide con una cuenta de Attenbase.
        </mat-error>
        <mat-hint>Ej.: attenbase@attenbase.com</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input
          formControlName="password"
          name="password"
          type="password"
          autocomplete="current-password"
          matInput
          [type]="hide ? 'password' : 'text'"
          placeholder="" />
        <button
          mat-icon-button
          [color]="
            form.controls['password'].errors && form.controls['password'].touched
              ? 'warn'
              : 'primary'
          "
          matSuffix
          (click)="togglePasswordVisibility($event)">
          <ng-container *ngIf="hide; else showPassword">
            <mat-icon svgIcon="eyeText"></mat-icon>
          </ng-container>
          <ng-template #showPassword>
            <mat-icon svgIcon="eyePassword"></mat-icon>
          </ng-template>
        </button>
        <mat-error
          *ngIf="form.controls['password'].errors?.['required'] && form.controls['password'].touched">
          Ingresá una contraseña
        </mat-error>
        <mat-error
          *ngIf="form.controls['password'].errors?.['pattern'] && form.controls['password'].dirty"
          >Mínimo 8 caracteres, una letra en mayúscula, un número y un caracter especial (ej.:#$%!)
        </mat-error>
        <mat-hint
          >Mínimo 8 caracteres, una letra en mayúscula, un número y un caracter especial(ej.:#$%!)
        </mat-hint>
      </mat-form-field>
      <mat-checkbox formControlName="rememberEmail" color="primary"
        >Mantener sesión iniciada</mat-checkbox
      >
      <button
        mat-flat-button
        color="primary"
        [disabled]="form.invalid || isLogginIn"
        type="button"
        (click)="handleSubmitLogin()">
        Iniciar sesión
      </button>
      <button mat-button color="primary" [routerLink]="'olvide-mi-contraseña'">
        Recuperar contraseña
      </button>
    </form>
    <img src="../../../assets/img/img-laptop.png" />
  </div>
</ng-container>
