<div class="container">
  <form [formGroup]="form" class="form">
    <img src="../../../assets/img/logo.png" alt="logo-base-de-conocimiento" />
    <ng-container>
      <p>Generar nueva contraseña</p>
      <span>
        A continuación, ingresá tu nueva contraseña. <br />
        Recordá que deberá tener:
      </span>
      <ul>
        <li>Al menos ocho caracteres.</li>
        <li>Una mayúscula.</li>
        <li>Un número.</li>
        <li>Un caracter especial (Ej.: @, #, $, %, !).</li>
      </ul>
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input
          formControlName="password"
          name="password"
          type="password"
          matInput
          [type]="hide ? 'password' : 'text'"
          placeholder="" />
        <button
          mat-icon-button
          [color]="
            form.controls['password'].errors && form.controls['password'].touched
              ? 'warn'
              : 'primary'
          "
          matSuffix
          (click)="hide = !hide">
          <mat-icon> {{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <!-- <mat-error
          *ngIf="form.controls['password'].errors?.['required'] && form.controls['password'].touched">
          Ingresá una contraseña
        </mat-error> -->
        <!-- <mat-error
          *ngIf="form.controls['password'].errors?.['pattern'] && form.controls['password'].dirty">
          Mínimo 8 caracteres. Al menos una letra en mayúscula y un número.
        </mat-error> -->
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Repetir nueva contraseña</mat-label>
        <input
          formControlName="newPassword"
          name="newPassword"
          type="newPassword"
          matInput
          [type]="hide ? 'password' : 'text'"
          placeholder="" />
        <button
          mat-icon-button
          [color]="
            form.controls['newPassword'].errors && form.controls['newPassword'].touched
              ? 'warn'
              : 'primary'
          "
          matSuffix
          (click)="hide = !hide">
          <mat-icon> {{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <!-- <mat-error
          *ngIf="form.controls['password'].errors?.['required'] && form.controls['password'].touched">
          Ingresá una contraseña
        </mat-error> -->
        <!-- <mat-error
          *ngIf="form.controls['password'].errors?.['pattern'] && form.controls['password'].dirty">
          Mínimo 8 caracteres. Al menos una letra en mayúscula y un número.
        </mat-error> -->
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        [disabled]="form.invalid"
        (click)="onSubmit()"
        type="button">
        Generar contraseña
      </button>
    </ng-container>
    <a [routerLink]="'/login'">
      <button mat-raised-button color="primary">volver</button>
    </a>
  </form>
  <img src="./../../../assets/img/img-laptop.png" />
</div>
