<div class="container">
  <form [formGroup]="form" class="form">
    <img src="../../../assets/img/logo.png" alt="logo-base-de-conocimiento" />
    <ng-container *ngIf="!changePassword; else successTemplate">
      <p>Generar nueva contraseña</p>
      <span>
        A continuación, ingresá tu nueva contraseña. <br />
        Recordá que deberá tener:
      </span>
      <ul>
        <li>Al menos ocho caracteres.</li>
        <li>Una mayúscula.</li>
        <li>Un número.</li>
        <li>Un caracter especial (Ej.: @, #, $, %, !).</li>
      </ul>
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input
          formControlName="password"
          name="password"
          type="password"
          matInput
          [type]="hide ? 'password' : 'text'"
          placeholder="" />
        <button
          mat-icon-button
          [color]="
            form.controls['password'].errors && form.controls['password'].touched
              ? 'warn'
              : 'primary'
          "
          matSuffix
          (click)="hide = !hide">
          <mat-icon> {{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error
          *ngIf="form.controls['password'].errors?.['required'] && form.controls['password'].touched">
          Ingresá una contraseña
        </mat-error>
        <mat-error
          *ngIf="form.controls['password'].errors?.['pattern'] && form.controls['password'].dirty">
          Mínimo 8 caracteres. Al menos una letra en mayúscula y un número.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Repetir nueva contraseña</mat-label>
        <input
          formControlName="confirmPassword"
          name="confirmPassword"
          type="confirmPassword"
          matInput
          [type]="hide ? 'password' : 'text'"
          placeholder="" />
        <button
          mat-icon-button
          [color]="
            form.controls['confirmPassword'].errors && form.controls['confirmPassword'].touched
              ? 'warn'
              : 'primary'
          "
          matSuffix
          (click)="hide = !hide">
          <mat-icon> {{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error
          *ngIf="form.controls['confirmPassword'].errors?.['required'] && form.controls['confirmPassword'].touched">
          Reingresa tu contraseña
        </mat-error>
        <mat-error
          *ngIf="
            form.controls['confirmPassword'].value !== form.controls['password'].value &&
            form.controls['confirmPassword'].touched
          ">
          Las contraseñas ingresadas no coinciden.
        </mat-error>

        <mat-error *ngIf="form.errors?.passwordMismatch">
          Las contraseñas ingresadas no coinciden.</mat-error
        >
      </mat-form-field>
      <button
        mat-flat-button
        color="primary"
        [disabled]="form.invalid"
        (click)="onSubmit()"
        type="button">
        Generar contraseña
      </button>
    </ng-container>
    <ng-template #successTemplate>
      <p>Generar nueva contraseña</p>
      <span>Creaste tu nueva contraseña con éxito.</span>
      <button mat-flat-button color="primary" [routerLink]="['/login']" type="button">
        Volver a inicio
      </button>
    </ng-template>
  </form>
  <img src="./../../../assets/img/img-laptop.png" />
</div>
