<div class="container">
  <h1>Components Custom</h1>
  <h2>Icon</h2>
  <h2>Estados (.state)</h2>
  <div class="container-buttons">
    <div class="status published">.published</div>
    <div class="status approved">.approved</div>
    <div class="status scheduled">.scheduled</div>
    <div class="status review">.review</div>
    <div class="status expire">.expire</div>
    <div class="status rejected">.rejected</div>
    <div class="status draft">.draft</div>
    <div class="status archived">.archived</div>
  </div>
</div>
