<div class="container">
  <h1>Components Custom</h1>
  <h2>Icon</h2>
  <h2>Buttons</h2>
  <div class="container-buttons">
    <button class="published">published</button>
    <button class="approved">approved</button>
    <button class="scheduled">scheduled</button>
    <button class="review">review</button>
    <button class="expire">expire</button>
    <button class="rejected">rejected</button>
    <button class="draft">draft</button>
    <button class="archived">archived</button>
  </div>
</div>
