.wrapper {
  background-color: white;
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 32px 20px;
  width: 380px;
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .action {
    align-self: flex-end;

    button:first-child {
      margin-right: 20px;
    }
  }
  .date-p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
  }
  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
    color: #73777f;
    font-size: 16px !important;
    mat-select {
      text-transform: capitalize;
    }
    // parche float label
    // mat-label {
    //   border-right: 5px solid #fff;
    //   position: relative;
    //   z-index: 200000;
    //   background-color: #fff;
    // }
  }
  mat-hint {
    font-size: 12px;
    color: #73777f;
  }
}
