<div class="wrapper">
  <form [formGroup]="form">
    <p class="date-p">Fecha de última actualización</p>
    <mat-form-field appearance="outline">
      <mat-label>Fecha inicio y finalización</mat-label>
      <mat-date-range-input [rangePicker]="picker" [formGroup]="dateRange">
        <input matStartDate placeholder="Inicio" formControlName="start" />
        <input matEndDate placeholder="Finalización" formControlName="end" />
      </mat-date-range-input>
      <mat-hint>DD/MM/AAAA - DD/MM/AAAA</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Estado</mat-label>
      <mat-select formControlName="state">
        <mat-option *ngFor="let state of states" [value]="state">
          {{ state }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Categoría</mat-label>
      <mat-select formControlName="category">
        <mat-option
          *ngFor="let category of categories"
          [value]="category"
          (click)="enableSubcategory()"
          >{{ category }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Subcategoría</mat-label>
      <mat-select formControlName="subCategory">
        <mat-option *ngFor="let subCategory of subCategories" [value]="subCategory">
          {{ subCategory }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="action">
      <button mat-button color="primary" (click)="setUpForm()">Borrar filtros</button>
      <button mat-flat-button color="primary" (click)="applyFilters()">Aplicar</button>
    </div>
  </form>
</div>
