<div class="wrapper">
  <p class="date-p">Fecha de última actualización</p>
  <mat-form-field appearance="outline">
    <mat-label>Fecha inicio y finalización</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Inicio" />
      <input matEndDate placeholder="Finalización" />
    </mat-date-range-input>
    <mat-hint>DD/MM/AAAA – DD/MM/AAAA</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Estado</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Categoría</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Subcategoría</mat-label>
    <mat-select [disabled]="expression">
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="action">
    <button mat-button color="primary" (click)="deleteFilters()">Borrar filtros</button>
    <button mat-flat-button color="primary">Aplicar</button>
  </div>
</div>
