.wrapper {
  display: flex;
  padding-top: 70px;
  p {
    font-size: 16px;
    font-weight: 500;
  }
  .container-date {
    width: 50%;
    .date {
      display: flex;
      mat-form-field {
        width: 168px;
        padding-right: 20px;
      }
    }
  }
  .container-date {
    width: 50%;
  }
  mat-hint {
    font-size: 12px;
    color: #73777f;
  }
}
.action {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
