<div class="wrapper">
  <h5>Elegir método de publicación</h5>
  <mat-radio-group aria-label="Select an option">
    <div class="container-select" *ngFor="let opcion of postOptions">
      <mat-radio-button (click)="openMenu(opcion)" [value]="opcion.id">
        <h5>{{ opcion.label }}</h5>
      </mat-radio-button>
      <div class="container-content" [ngClass]="{ open: opcion.isOpen }">
        <bdc-bo-form-date-component [postNow]="opcion.postNow"></bdc-bo-form-date-component>
      </div>
    </div>
  </mat-radio-group>
  <div class="action">
    <button mat-stroked-button color="primary" matStepperPrevious>Volver atrás</button>
    <button
      mat-flat-button
      color="primary"
      matStepperNext
      (click)="sendValue()"
      [routerLink]="['/dashboard/listado-de-preguntas/crear-pregunta/vista-previa']">
      Continuar
    </button>
  </div>
</div>
