<div class="wrapper">
  <p class="last-log-p">Fecha de último login</p>
  <mat-form-field appearance="outline">
    <!-- <mat-label>17 - 11 - 2022</mat-label> -->
    <mat-date-range-input [rangePicker]="picker">
      <input id="start-date" matStartDate placeholder="17-11-2022" />
      <input id="end-date" matEndDate placeholder="19-11-2022" />
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  <mat-form-field class="mt-20" appearance="outline">
    <mat-label>Rol</mat-label>
    <mat-select [formControl]="rols" multiple>
      <mat-option *ngFor="let rol of rolsList" [value]="rol">{{ rol.value }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="mt-20" appearance="outline">
    <mat-label>Clientes habilitados</mat-label>
    <mat-select [formControl]="clients" multiple>
      <mat-option class="font-cap" *ngFor="let client of clientsList" [value]="client">{{
        client.value
      }}</mat-option>
    </mat-select>
    <!-- <mat-select [formGroup]="clientsGroup" multiple>
      <mat-checkbox formControlName="movistar">Movistar</mat-checkbox>
      <mat-checkbox formControlName="telefonica">Telefonica</mat-checkbox>
      <mat-checkbox formControlName="telefonicaIndividuos">Telefonica Individuos</mat-checkbox>
    </mat-select> -->
  </mat-form-field>
  <div class="filtter-buttons">
    <button mat-button color="primary">borrar filtros</button>
    <button mat-flat-button color="primary" (click)="sendFiltters()">aplicar</button>
  </div>
</div>
