.wrapper {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 407px;
}
.last-log-p {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}
mat-hint {
  font-size: 12px;
  color: #73777f;
}
.filtter-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 50px;

  button {
    padding: 10px 24px;
    width: fit-content;
    text-transform: capitalize;
    &:first-child {
      margin-right: 5px;
    }
  }
}
