.wrapper {
  position: relative;
  background-color: #b9d6d5;
  border: none;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  transition: width 0.15s linear;
  mat-icon {
    color: #344b64;
  }
  .action {
    display: flex;
    align-items: center;
    flex-direction: column;
    .align-center {
      display: flex;
      align-items: center;
    }
    .menu {
      margin-bottom: 16px;
    }
    .mat-mdc-raised-button.mat-accent {
      background-color: #d5a43e;
      width: 56px;
      height: 56px;
      padding: 16px;
      font-size: 14px;

      mat-icon {
        color: white;
      }
    }
  }

  .logout {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-top: 5px;
    p {
      padding-left: 12px;
      color: #344b64;
      font-size: 14px;
      font-weight: 500;
    }
  }
}

.menu-open {
  &.wrapper {
    align-items: flex-start;
    width: 324px;
    padding-left: 10px;
  }
  .action {
    align-items: start;
    .mat-mdc-raised-button.mat-accent {
      width: auto;
    }
  }
  .logout {
    border-top: 1px solid #344b646a;
    width: 260px;
    padding-left: 18px;
    margin-left: 12px;
    bottom: 40px;
  }
}
