<div *ngIf="synonyms; else noSynonyms">
  <div class="wrapper">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="position">
        <th width="30%" mat-header-cell *matHeaderCellDef>Origen</th>
        <td mat-cell *matCellDef="let element" class="text-blue">{{ element.word }}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Sinónimo(s)</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.synonyms.length > 0">
            <bdc-bo-scroll-synonyms
              *ngIf="element.synonyms"
              [element]="element.synonyms"></bdc-bo-scroll-synonyms>
          </ng-container>
        </td>
      </ng-container>
      <ng-container matColumnDef="seeMore">
        <th mat-header-cell width="40px" *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <div class="more-options">
            <button [matMenuTriggerFor]="menu" mat-icon-button aria-label="más opciones">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="deleteSynonyms(element.id, element.name)">
                <span>Eliminar</span>
              </button>
              <button mat-menu-item (click)="editSynonyms(element.id)">
                <span>Editar</span>
              </button>
            </mat-menu>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      (page)="handlePageChanged($event)"
      [pageIndex]="0"
      [pageSize]="10"
      [disabled]="false"
      [hidePageSize]="true">
    </mat-paginator>
    <div class="overlay" *ngIf="areSynonymsLoading$ | async">
      <mat-progress-spinner [color]="'primary'" [mode]="'indeterminate'"> </mat-progress-spinner>
    </div>
  </div>
</div>

<ng-template #noSynonyms>
  <p>No hay Sinonimos</p>
</ng-template>
