<div class="action">
  <bdc-bo-back-arrow-button
    [routeMap]="'/dashboard/listado-de-preguntas'"
    [showConfirmationModal]="true"></bdc-bo-back-arrow-button>
  <h2>{{ title$ | async }}</h2>
</div>
<div class="wrapper">
  <mat-stepper linear #stepper>
    <mat-step>
      <ng-template matStepLabel>General</ng-template>
      <bdc-bo-metadata-question-component></bdc-bo-metadata-question-component>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Contenido</ng-template>
      <bdc-bo-content-component></bdc-bo-content-component>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Fecha y hora</ng-template>
      <bdc-bo-date-component></bdc-bo-date-component>
    </mat-step>
  </mat-stepper>
</div>
