::ng-deep {
  .mat-mdc-snack-bar-container {
    --mat-mdc-snack-bar-button-color: #ffffff !important;
    --mdc-snackbar-container-color: #344b64 !important;
    --mdc-snackbar-supporting-text-color: #ffff !important;
  }
}

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  .action {
    display: flex;
    align-items: center;

    .mat-icon {
      font-size: 14px;
      padding-top: 10px;
      color: white;
    }
    span {
      color: #8bb4b4;
      font-weight: 500;
    }
  }
}
