<ng-container *ngIf="categoryId$ | async as category">
  <div class="wrapper">
    <div class="header">
      <div class="header__title">
        <bdc-bo-back-arrow-button [routeMap]="'/dashboard/categorias'"></bdc-bo-back-arrow-button>
        <h1>{{ category.name }}</h1>
      </div>
      <div class="action">
        <button mat-stroked-button color="primary" (click)="deleteCategory(category.id)">
          <mat-icon class="mat-icon-outlined">class</mat-icon> Archivar
        </button>
        <button mat-flat-button color="primary">Editar nombre</button>
      </div>
    </div>

    <h2>Subcategorías</h2>
    <mat-accordion>
      <mat-expansion-panel
        *ngFor="let item of category.subcategories"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="show-questions">1</div>
            {{ item.name }}
          </mat-panel-title>
          <mat-panel-description> </mat-panel-description>
        </mat-expansion-panel-header>
        <p>preguntas asociadas</p>
      </mat-expansion-panel>
    </mat-accordion>

    <ng-container *ngIf="areCategoriesLoading$ | async" class="overlay">
      <mat-progress-spinner [color]="'primary'" [mode]="'indeterminate'" [value]="50">
      </mat-progress-spinner>
    </ng-container>
  </div>
</ng-container>
