<div class="wrapper">
  <h1>Nueva categoría</h1>
  <form [formGroup]="form">
    <div class="input-double">
      <mat-form-field appearance="outline" hideRequiredMarker="true">
        <mat-label>Nombre de categoría</mat-label>
        <input formControlName="category" name="category" type="text" matInput required />
        <mat-hint>Título para la nueva categoría.</mat-hint>
        <mat-error *ngIf="form.controls['category'].errors?.['required']">
          Ingresá el nombre de una categoría nueva
        </mat-error>
      </mat-form-field>
      <button mat-stroked-button color="primary" (click)="dialogSelectIconCategory()">
        <mat-icon class="material-symbols-outlined">{{ icon$ | async }}</mat-icon> Seleccionar ícono
      </button>
    </div>
    <mat-form-field appearance="outline" hideRequiredMarker="true">
      <mat-label>Agregar Subcategorías</mat-label>
      <mat-chip-grid #chipGrid formControlName="subcategories" name="subcategories">
        <mat-chip-row
          *ngFor="let subcategory of subcategories"
          (removed)="remove(subcategory)"
          [editable]="true"
          (edited)="edit(subcategory, $event)">
          {{ subcategory.name }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
        <input
          placeholder="Agregar Subcategorías"
          [matChipInputFor]="chipGrid"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)" />
      </mat-chip-grid>
      <mat-hint>Cada palabra o grupo de palabras debe estar separado con comas.</mat-hint>
    </mat-form-field>
    <div class="action">
      <button mat-stroked-button color="primary">Cerrar</button>
      <button mat-flat-button color="primary" [disabled]="form.invalid" (click)="createCategory()">
        Crear Categoría
      </button>
    </div>
  </form>
</div>
