mat-drawer {
  position: fixed;
  border: none;
}
mat-drawer-container {
  background-color: white;
}
mat-drawer-content {
  padding-left: 75px;
  padding-top: 20px;
  padding-right: 156px;
  background-color: white;
  // max-width: 1125px;
}
