.layout {
  display: grid;
  grid-template-columns: min-content minmax(768px, 100%);
  grid-template-rows: 80px calc(100vh - 80px);
  grid-template-areas:
    'aside header'
    'aside main';
   
  aside {
    grid-area: aside;
  }

  header {
    grid-area: header;
    margin-left: 74px;
    margin-top: 12px;
  }

  main {
    margin-left: 74px;
    padding-right: 168px;
    grid-area: main;
    overflow: auto;
  }
}
