@import "./../../../../assets/sass/abstracts/variables";
.container {
  .form {
    p {
      font-size: 16px;
      font-weight: 400;
      color: #344b64;
    }
    span {
      color: #73777f;
      font-size: 14px;
      margin-bottom: 24px;
    }
  }
}
