<div class="container">
  <form [formGroup]="form" class="form">
    <img src="../../../assets/img/logo.png" alt="logo-base-de-conocimiento" />
    <ng-container *ngIf="recoveryEmail; else watchEmail">
      <p>Recuperar contraseña</p>
      <span>A continuación, ingresá el correo electrónico asociado a tu cuenta.</span>
      <mat-form-field appearance="outline">
        <mat-label>Correo electrónico</mat-label>
        <input
          formControlName="email"
          name="email"
          type="email"
          matInput
          placeholder="attenbase@attenbase.com" />
        <mat-hint>Ej.: attenbase@attenbase.com</mat-hint>
        <mat-error *ngIf="form.controls['email'].errors?.['required']">
          El correo ingresado no coincide con una cuenta de Attenbase.
        </mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        [disabled]="form.invalid"
        (click)="onSubmit()"
        type="button">
        Recuperar contraseña
      </button>
    </ng-container>
  </form>
  <img src="./../../../assets/img/img-laptop.png" />
</div>

<ng-template #watchEmail>
  <p>Recuperar contraseña</p>
  <span>Te enviamos un correo electrónico de verificación.</span>
  <button mat-raised-button color="primary" type="button" [routerLink]="['login']">
    Volver al inicio
  </button>
  <button
    mat-button
    [disabled]="!resendEnabled"
    type="button"
    color="primary"
    (click)="resendPin()">
    Reenviar correo
    <ng-container *ngIf="!resendEnabled">
      {{ timer | numberToSeconds }}
    </ng-container>
  </button>
  <button
    mat-raised-button
    color="primary"
    type="button"
    [routerLink]="['/login/generar-nueva-contraseña']">
    Generar contraseña
  </button>
</ng-template>
