<div class="wrapper">
  <form [formGroup]="form">
    <mat-form-field appearance="outline" hideRequiredMarker="true">
      <mat-label>Pregunta</mat-label>
      <input
        formControlName="question"
        name="question"
        type="text"
        matInput
        #input
        maxlength="150"
        required />
      <mat-hint align="start">Ej.: ¿Cómo comprar un equipo?</mat-hint>
      <mat-hint align="end">{{ input.value.length }}/150</mat-hint>
      <mat-error *ngIf="form.controls['question'].errors?.['required']">
        Ingresá una pregunta
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" hideRequiredMarker="true">
      <mat-label>Alias</mat-label>
      <mat-hint>Títulos similares para facilitar la detección de la pregunta.</mat-hint>
      <mat-chip-grid #chipGrid formControlName="alias" name="alias">
        <mat-chip-row
          *ngFor="let item of alias"
          (removed)="remove(item)"
          [editable]="true"
          (edited)="edit(item, $event)">
          {{ item.name }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
        <input
          [matChipInputFor]="chipGrid"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)" />
      </mat-chip-grid>
      <mat-error
        *ngIf="form.controls['alias'].errors?.['required'] && form.controls['alias'].dirty">
        Ingresá al menos un alias
      </mat-error>
    </mat-form-field>
    <div class="input-double">
      <mat-form-field appearance="outline" hideRequiredMarker="true">
        <mat-label>Categoría</mat-label>
        <mat-hint> Categoría a la cual pertenecerá la pregunta creada.</mat-hint>
        <mat-select formControlName="category" name="category">
          <ng-container *ngIf="listCategories$ | async as listCategories">
            <mat-option
              *ngFor="let category of listCategories"
              (click)="filterSubcategories(category.id)"
              [value]="category.name">
              {{ category.name }}
            </mat-option>
          </ng-container>
          <mat-option (click)="newCategory()">
            <mat-icon color="primary"> add</mat-icon>
            Crear nueva categoría</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" hideRequiredMarker="true">
        <mat-label>Subcategoría</mat-label>
        <mat-hint>Grupo dentro de la categoría elegida.</mat-hint>
        <mat-select formControlName="subcategory" name="subcategory">
          <ng-container *ngIf="listSubcategories$ | async as listSubcategories">
            <ng-container *ngIf="listSubcategories.length; else noSubcategories">
              <ng-container *ngFor="let subcategory of listSubcategories">
                <mat-option [value]="subcategory.name">{{ subcategory.name }}</mat-option>
              </ng-container>
            </ng-container>
            <ng-template #noSubcategories>
              <mat-option>No hay subcategorías asociadas</mat-option>
            </ng-template>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
  <bdc-bo-multiselect
    (selectedQuestionsChange)="handleSelectedQuestionsChange($event)"></bdc-bo-multiselect>
  <div class="action">
    <button
      mat-flat-button
      color="primary"
      [disabled]="form.invalid"
      (click)="sendForm()"
      matStepperNext>
      Continuar
    </button>
  </div>
</div>
