.wrapper {
  width: 100%;
  padding-top: 70px;
  .input-double {
    display: flex;
    :first-child {
      margin-right: 25px;
    }
  }
  mat-form-field {
    width: 100%;
    color: #73777f;
    padding-bottom: 32px;
    mat-hint {
      font-size: 12px;
    }
    mat-error {
      font-size: 12px;
    }
  }
  .action {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
  }
}

.multiselect {
  .menu {
    background-color: white;
    width: 100%;
    border-radius: 8px;
    margin-top: -18px;
    box-shadow: 0px 1.850000023841858px 6.25px 0px rgba(0, 0, 0, 0.19), 0px 0.5px 1.75px 0px rgba(0, 0, 0, 0.04);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;

    &.openMenu {
      max-height: 200px; /* Altura máxima deseada para mostrar el menú */
    }
  }

  mat-form-field {
    padding: 0;
  }
}

::ng-deep {
  mat-checkbox {
    width: 100% !important;
    .mdc-form-field {
      padding: 5px 10px;
      display: flex !important;
      flex-direction: row-reverse !important;
      justify-content: space-between !important;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: #8bb4b4;
      }
      &.mat-mdc-checkbox-checked {
        background-color: red;
      }
    }
  }
}
