.wrapper {
  display: flex;
  .container-scroll {
    display: flex;
    align-items: center;
    width: 310px;
    overflow: hidden;
    flex-wrap: nowrap;
    @media (min-width: 1024px) {
      width: 600px;
    }
    mat-chip {
      background-color: white;
      border: 1px solid #a7abb3;
      span {
        color: #73777f;
        font-size: 14px;
      }
      & button {
        opacity: 0;
      }
      &:hover {
        color: #73777f;
        background-color: #dfe3eb;
        button {
          opacity: 1;
        }
        mat-icon {
          color: #73777f;
        }
      }
    }
  }
}
