.wrapper {
  padding: 24px;
  max-width: 500px;
  p {
    color: #49454f;
    font-size: 14px;
    strong {
      font-size: 14px;
      font-weight: 500;
    }
  }
  .action {
    display: flex;
    justify-content: flex-end;
  }
}
