@import './abstracts/variables';
@import './components/states/states.scss';

html,
body {
  /* 1rem = 10px */
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}
h1 {
  color: #002020;
  font-size: 36px;
  font-weight: 400;
}

.container {
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
