@import "./abstracts/variables";

html,
body {
  /* 1rem = 10px */
  // font-size: 62.5%;
  height: 100%;
}

p {}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}
h1 {
  color: #002020;
  font-size: 3.6rem;
  font-weight: 400;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}
.justify-space-between {
  justify-content: space-between;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
